body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("img/imagem-fundo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header{
    padding: 1px;
    text-align: center;
    background-color: tomato;
}

h1{
    text-align: center;
}

nav{
    padding: 10px;
    text-align: center;
    background-color: rgba(9, 223, 73, 0.993);
}

a{
    margin: 10px;
    color: white;
}

.container{    
    display: flex;
    text-align: center;
    margin-top: 25px;
    margin-left: 80px;
}

#texto-principal{

    margin-top: 100px;
    margin-right: 300px;
}

.logos{
    width: 25px;
    
}

table{
    background-color: rgba(163, 175, 187, 0.623);
    border:solid;
    margin-left: 5px;
    font-weight: bold;
}

tr{
    border: solid;
}

th{
    border: solid;
}

td{
    border: solid;
    text-align: center;
}

label{
    font-weight: bold;
    margin-left: 5px;
}

#link-foto{
    margin-left: 68px;
    border-radius: 4px;
}

#descricao{
    margin: 10px;
    border-radius: 4px;
}
#preco{
    margin-bottom: 10px;
    margin-left: 68px;
    border-radius: 4px;
}
#quantidade{
    margin-left: 7px;
    border-radius: 4px;
}

button{
    font-size: 15px;
    font-family:cursive;
    color: white;
    font-weight: bold;
    background-color:rgb(245, 69, 38);
    width: 100px;
    margin-top: 20px;
    margin-left: 10px;
    border-style:double;
    border-radius: 15px;
    padding: 2px;
}

#bt-venda{
    font-size: 15px;
    font-family:cursive;
    color: white;
    font-weight: bold;
    background-color:rgb(245, 69, 38);
    width: 140px;
    margin-top: 20px;
    margin-left: 10px;
    border-style:double;
    border-radius: 15px;
    padding: 3px;
}
footer{
    text-align: center;
    background-color: rgb(163, 175, 187);
    margin-top: 110px;
}

#footer-add{
    text-align: center;
    background-color: rgb(163, 175, 187);
    margin-top: 177px;    

}

#footer-func{
    margin-top: 250px;
}

#footer-pgvendas{
    margin-top: 210px;
}

#hist-vendas{
    margin-top: 200px;
}